# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.out
coverage.html

# Data directories (created by examples/tests)
data/
example_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Go workspace
vendor/
